:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  cursor: url("assets/simplecursor.cur"), pointer;
}

main {
  background-image: url("/src/assets/bck.webp");
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0%;
}

header, input, button, a, footer, h2 {
  color: #DFD1EB !important;
}

header {
  background-color: #44165A;
  filter: drop-shadow(0, 4, 4, black);
  padding: 10px !important;
}

button, footer {
  background-color: #5E3674;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}