:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  cursor: url("assets/simplecursor.cur"), pointer;
  background-image: url("/src/assets/bck.webp");
}

/*Body*/
:root, body {
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/*Header*/
header, input, button, a, footer, h2 {
  color: #DFD1EB !important;
}

header, footer {
  background-color: #44165A;
}

header {
  filter: drop-shadow(0, 4, 4, black);
  padding: 10px !important;
}

header>a {
  font-weight: 700;
  font-size: xx-large;
  text-decoration: none;
  color: aliceblue;
  cursor: url("assets/cursortest.cur"), pointer;
}

/*Footer*/
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/*Egyéb*/
button {
  background-color: #5E3674;
}

#reszletek {
  cursor: url("assets/pointercursor.cur"), auto;
}

.logo {
  width: 7%;
}

